/* style navbar */

.navbar {
    background-color: rgba(251, 127, 80, 0.7);
    transition: rgba(248, 200, 112, 0.5) 0.5s ease;
}

.navbar.scrolled {
    background-color: rgba(250, 128, 114, 0.9);
}

.nav-item .nav-link {
    color: black;
}

.nav-item .nav-link:hover {
    color: #fff;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav-item .nav-link.promo-text {
    animation: slideIn 5s ease-in infinite;
}

/* end style navbar */

/* jumbotron */
.text-banner {
    color: rgba(255, 99, 71, 0.6);
}

.jumbotron {
    text-align: center;
}

.text-container {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

.btn-pesan:hover {
    background-color: aliceblue;
}
/* end jumbotron */

/* style domain */
.domain,
.layanan,
.solusi {
    background-color: #f08080;
}

.btn-cari:hover {
    background-color: #87ceeb;
}
/* end style domain */

/* style package */
.package {
    background-color: #f08080;
}

.text-package {
    color: #add8e6;
}

.content-card .card-package,
.card-layanan {
    transition: 2px 2px #888 0.3s ease, transform 0.3s ease;
    transform-origin: center bottom;
}

.content-card .card-package:hover {
    box-shadow: 0 8px 16px rgba(63, 61, 61, 0.5);
    transform: scale(1.05);
    z-index: 1;
}

.text-price {
    color: #f08080;
}

.btn-pesan {
    background-color: #f08080;
    color: whitesmoke;
}

.btn-pesan:hover {
    background-color: #87ceeb;
    color: #444242;
}

.icon-color {
    color: #f08080;
}
/* end style package  */

.card-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
    max-height: 50%;
}

.card-solusi {
    border-radius: 10%;
}

/* end solusi  */
